[Unit]
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=idle
Restart=always
RestartSec=1
User=rpzw
WorkingDirectory=/home/rpzw/eyed/
ExecStart=bash -c 'source keys.sh; exec python eyed.py'

[Install]
WantedBy=multi-user.target
